<?xml version="1.0" encoding="utf-8"?><!-- Copyright (C) 2025 Nicholas Doglio -->
<!-- SPDX-License-Identifier: MIT -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name="dev.whosnickdoglio.baenotes.configuration.ConfigurationActivity"
            android:exported="true"
            android:theme="@style/Theme.BaeNotes"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>

        </activity>
    </application>

</manifest>
