<?xml version="1.0" encoding="utf-8"?><!-- Copyright (C) 2025 Nicholas Doglio -->
<!-- SPDX-License-Identifier: MIT -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaeNotes"
        tools:targetApi="31">
        <receiver
            android:name="dev.whosnickdoglio.baenotes.widget.BaeNoteWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />

        </receiver>
    </application>

</manifest>
